<section class="about_header second_outer_shadow" id="about">

    <div>
        <div class="about__title">
            <h1 class="about__heading">About</h1>
            <p class="about_subhead">Introduction</p>
        </div>

        <div class="about_row mx-auto">

            {{! Main Header Left }}

            <div class="about_header_left">

                <div class="details__about_me">

                    <div class="details__card">
                        <div class="detail__icon"><i
                                class="fas fa-vote-yea"
                            ></i></div>
                        <div class="details__number">02</div>
                        <div class="details__title">Years Experience</div>
                    </div>

                    <div class="details__card">
                        <div class="detail__icon"><i
                                class="fas fa-laptop"
                            ></i></div>
                        <div class="details__number">12</div>
                        <div class="details__title">Completed Projects</div>
                    </div>

                    <div class="details__card">
                        <div class="detail__icon"><i
                                class="fas fa-spinner"
                            ></i></div>
                        <div class="details__number">05</div>
                        <div class="details__title">Working On</div>
                    </div>

                </div>

            </div>

            {{! Main Header Right }}

            <div class="about_header_right">
                <h1 class="main__about__head">About me</h1>
                <h4 class="right_heading">
                    I'm a Designer and Web Developer.
                </h4>

                <p class="about__info__para">About 2 years i'm working with Web
                    Devlopment. I spend my whole day, practically every day,
                    experimenting with HTML, CSS, BootStrap JavaScript, jQuery,
                    React and also learning more framworks and JavaScript
                    Libraries.</p>

                <div class="details__buttons">

                    <div class="social__links">
                        <ul class="social__ul">
                            <li class="links__tag"><a href="">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="links__tag"><a href="">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="links__tag">
                                <a href="">

                                    <i class="fab fa-github"></i>
                                </a></li>
                        </ul>
                    </div>
                    <div class="projects">
                        <a href="/pdf/AHSAN_SHAKIL.pdf" download="true">Download
                            cv</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>