<section class="about_header second_outer_shadow" id="about">

    <div>
        <div class="about__title">
            <h1 class="about__heading">About Me</h1>
            <p class="about_subhead">Introduction</p>
        </div>

        <div class="about_row mx-auto">

            {{! Main Header Left }}

            <div class="about_header_left">

                <div class="big__button">
                    <ul class="about_list">
                        <li
                            class="frontend outer_shadow hover_active hover-in-shadow"
                        >
                            <span>Frontend</span></li>
                        <li class="backend outer_shadow hover-in-shadow"><span
                            >Backend</span></li>
                    </ul>
                </div>

            </div>

            {{! Main Header Right }}

            <div class="about_header_right">

                <div class="right_cover">
                    <h4 class="right_heading">Hi ! I'm
                        <span class="new__font"> Ahsan Shakil</span>
                        . I am a Web Developer.
                    </h4>

                    <div class="change__para in-shadow">
                        <div class="as_frontend">
                            <p>About 2 years i'm working with Frontend
                                Devlopment. I spend my whole day, practically
                                every day, experimenting with HTML, CSS,
                                BootStrap JavaScript, jQuery, React and also
                                learning more framworks and JavaScript
                                Libraries.</p>
                            <div class="bio__pro">
                                <div class="count__card">
                                    <div class="number">02+</div>
                                    <div class="card__title">Years
                                        <br />
                                        Experience</div>
                                </div>
                                <div class="count__card">
                                    <div class="number">12+</div>
                                    <div class="card__title">Projects
                                        <br />
                                        Completed</div>
                                </div>
                                <div class="count__card">
                                    <div class="number">02+</div>
                                    <div class="card__title">Working
                                        <br />
                                        On</div>
                                </div>
                            </div>
                        </div>
                        <div class="as_backend on">
                            <p>About 6 months i'm working with Backend
                                Devlopment. I still now learning node js as a
                                backend. I've some basic knowledge node js
                                ,express js and also database like : Mysql,
                                MongoDB.</p>
                            <div class="bio__pro">
                                <div class="count__card">
                                    <div class="number">00+</div>
                                    <div class="card__title">Years
                                        <br />
                                        Experience</div>
                                </div>
                                <div class="count__card">
                                    <div class="number">02+</div>
                                    <div class="card__title">Projects
                                        <br />
                                        Completed</div>
                                </div>
                                <div class="count__card">
                                    <div class="number">01+</div>
                                    <div class="card__title">Working
                                        <br />
                                        On</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="details__buttons">
                        <div class="resume">
                            <a href="">Resume</a>
                        </div>
                        <div class="projects">
                            <a href="">Projects</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>