<section class="education_header inner_shadow" id="qualification">

    <div class="width__max">
        <div class="skill__title">
            <h1 class="about__heading">Qualifications</h1>
            <p class="about_subhead">My personal journey</p>
        </div>

        <div class="skill_row mx-auto">

            {{! Main Header Left }}

            <div class="skill_header_left">

                <div class="scrollspy__div bar__active spy__1">
                    <div class="scrollspy__head hover_active hover-in-shadow">
                        <div class="scrollspy__head_left">

                            <div class="scrollspy__icon">
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="scrollspy__title">
                                <h1 class="scrollspy__heading">Frontend develop</h1>
                                <p class="scrollspy__subheading">More than 1
                                    year</p>
                            </div>
                        </div>

                        <div class="scrollspy__head_right">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>

                    <div class="scrollspy__card hover_active hover-in-shadow">
                        <div class="card_bar html">
                            <div class="card__details">
                                <div class="details__name">HTML</div>
                                <div class="details__percent">80%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p80"></div>
                            </div>
                        </div>

                        <div class="card_bar css">
                            <div class="card__details">
                                <div class="details__name">CSS</div>
                                <div class="details__percent">70%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p70"></div>
                            </div>
                        </div>

                        <div class="card_bar js">
                            <div class="card__details">
                                <div class="details__name">JS</div>
                                <div class="details__percent">65%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p65"></div>
                            </div>
                        </div>

                        <div class="card_bar react">
                            <div class="card__details">
                                <div class="details__name">REACT</div>
                                <div class="details__percent">70%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p70"></div>
                            </div>
                        </div>

                        <div class="card_bar jquery">
                            <div class="card__details">
                                <div class="details__name">JQUERY</div>
                                <div class="details__percent">60%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p60"></div>
                            </div>
                        </div>

                        <div class="card_bar bootstrap">
                            <div class="card__details">
                                <div class="details__name">BOOTSTRAP</div>
                                <div
                                    class="details__percent bootstrap"
                                >75%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p75"></div>
                            </div>
                        </div>

                    </div>
                </div>

                {{! Second Scrollspy }}

                <div class="scrollspy__div spy__2">
                    <div class="scrollspy__head hover-in-shadow">
                        <div class="scrollspy__head_left">

                            <div class="scrollspy__icon">
                                <i class="fas fa-laptop"></i>
                            </div>
                            <div class="scrollspy__title">
                                <h1 class="scrollspy__heading">Backend develop</h1>
                                <p class="scrollspy__subheading">More than 4
                                    months</p>
                            </div>
                        </div>

                        <div class="scrollspy__head_right">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>

                    <div class="scrollspy__card hover-in-shadow card__off">
                        <div class="card_bar node">
                            <div class="card__details">
                                <div class="details__name">Node js</div>
                                <div class="details__percent">40%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p40"></div>
                            </div>
                        </div>

                        <div class="card_bar express">
                            <div class="card__details">
                                <div class="details__name">Express Js</div>
                                <div class="details__percent">45%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p45"></div>
                            </div>
                        </div>

                        <div class="card_bar php">
                            <div class="card__details">
                                <div class="details__name">PHP</div>
                                <div class="details__percent">25%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p25"></div>
                            </div>
                        </div>

                        <div class="card_bar mongodb">
                            <div class="card__details">
                                <div class="details__name">MongoDB</div>
                                <div class="details__percent">30%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p30"></div>
                            </div>
                        </div>

                        <div class="card_bar mysql">
                            <div class="card__details">
                                <div class="details__name">Mysql</div>
                                <div class="details__percent">20%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p20"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            {{! Main Header Right }}

            <div class="skill_header_right">

                <div class="scrollspy__div spy__3">
                    <div class="scrollspy__head hover-in-shadow">
                        <div class="scrollspy__head_left">

                            <div class="scrollspy__icon">
                                <i class="fas fa-layer-group"></i>
                            </div>
                            <div class="scrollspy__title">
                                <h1 class="scrollspy__heading">Designer</h1>
                                <p class="scrollspy__subheading">More than 2
                                    months</p>
                            </div>
                        </div>

                        <div class="scrollspy__head_right">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>

                    <div class="scrollspy__card hover-in-shadow card__off">
                        <div class="card_bar photoshop">
                            <div class="card__details">
                                <div class="details__name">Photoshop</div>
                                <div class="details__percent">40%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p40"></div>
                            </div>
                        </div>

                        <div class="card_bar adobexd">
                            <div class="card__details">
                                <div class="details__name">Adobe xd</div>
                                <div class="details__percent">15%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p15"></div>
                            </div>
                        </div>

                        <div class="card_bar figma">
                            <div class="card__details">
                                <div class="details__name">Figma</div>
                                <div class="details__percent">10%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p10"></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="scrollspy__div spy__4">
                    <div class="scrollspy__head hover-in-shadow">
                        <div class="scrollspy__head_left">

                            <div class="scrollspy__icon">
                                <i class="fas fa-tools"></i>
                            </div>
                            <div class="scrollspy__title">
                                <h1 class="scrollspy__heading">Other Tools</h1>
                                <p class="scrollspy__subheading">Always
                                    practicing</p>
                            </div>
                        </div>

                        <div class="scrollspy__head_right">
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>

                    <div class="scrollspy__card hover-in-shadow card__off">
                        <div class="card_bar ms">
                            <div class="card__details">
                                <div class="details__name">MS office</div>
                                <div class="details__percent">50%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p50"></div>
                            </div>
                        </div>

                        <div class="card_bar trello">
                            <div class="card__details">
                                <div class="details__name">Trello</div>
                                <div class="details__percent">30%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p30"></div>
                            </div>
                        </div>

                        <div class="card_bar arduino">
                            <div class="card__details">
                                <div class="details__name">Arduino</div>
                                <div class="details__percent">60%</div>
                            </div>
                            <div class="card__progress">
                                <div class="progress p60"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>