<section class="education_header inner_shadow" id="qualification">

    <div class="width__max">
        <div class="skill__title">
            <h1 class="about__heading">Qualifications</h1>
            <p class="about_subhead">My personal journey</p>
        </div>

        <div class="skill_row mx-auto">

            {{! Main Header Left }}

            <div class="education_header_left">

                <div class="education__card">
                    <div class="education__year"><i
                            class="far fa-calendar-alt"
                        ></i>February 2015 - July 2019</div>
                    <div class="education__header"><span>B.sc. Engg. in EEE</span></div>
                    <div class="edu_body">

                        <div class="education__uv">Bangladesh ary University of
                            Science of Technology
                            <span class="uv__big">(BAUST)</span>
                        </div>

                    </div>

                </div>

                <div class="education__card">
                    <div class="education__year"><i
                            class="far fa-calendar-alt"
                        ></i>January 2012 - March 2014</div>
                    <div class="education__header"><span>Higher Secondary
                            Certificate (HSC)</span></div>
                    <div class="edu_body">

                        <div class="education__uv">Govt. Science College,
                            Tejgaon, Dhaka-1215
                        </div>

                    </div>
                </div>

                <div class="education__card">
                    <div class="education__year"><i
                            class="far fa-calendar-alt"
                        ></i>January 2010 - March 2012</div>
                    <div class="education__header"><span>Secondary School
                            Certificate (SSC)</span></div>

                    <div class="edu_body">

                        <div class="education__uv">Jatrabari Ideal School and
                            College, Dhaka-1204
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>