<section class="education_header inner_shadow" id="qualification">

    <div class="width__max">
        <div class="skill__title">
            <h1 class="about__heading">Qualifications</h1>
            <p class="about_subhead">My personal journey</p>
        </div>

        <div class="skill_row mx-auto">

            {{! Main Header Left }}

            <div class="skill_header_left">

            </div>

            {{! Main Header Right }}

            <div class="skill_header_right">

            </div>

        </div>
    </div>
</section>