<section class="main_header" id="home">
    <h1 class="bg1">WEB <br /> DEVELOPER</h1>
    <div class="main_row">

        {{! Main Header Left }}

        <div class="main_header_left">
            <div class="social__links mobile">
                <ul class="social__ul">
                    <li class="links__tag"><a href="">
                            <i class="fab fa-facebook-square"></i>
                            <span class="link__name">Facebook</span>
                        </a>
                    </li>
                    <li class="links__tag"><a href="">
                            <i class="fab fa-linkedin"></i>
                            <span class="link__name">Linkedin</span></a>
                    </li>
                    <li class="links__tag">
                        <a href="">

                            <i class="fab fa-github-square"></i>
                            <span class="link__name">Github</span></a></li>
                </ul>

            </div>

            <div class="mainText">
                <h5 class="name">
                    AHSAN SHAKIL
                </h5>
                <h1 class="heading">
                    Full Stack
                    <br />
                    Web Developer

                </h1>
                <p class="para1">
                    High level experience in web design and development
                    knowledge,producing quality work,responsive design and also
                    focusing on user friendly.
                </p>

                <div class="contact__btn">
                    <a href="">
                        <span class="contact__heading">Contact</span>
                    </a><i class="fas fa-paper-plane"></i>
                </div>

                <a class="scroll__link" href="#about"><div
                        class="scroll__down"
                    ><i class="fas fa-mouse"></i>
                        <span class="scroll__text">Scroll down</span><i
                            class="fas fa-arrow-down"
                        ></i></div></a>
            </div>

        </div>

        {{! Main Header Right }}

        <div class="main_header_right">

            <div class="social__links desktop">
                <ul class="social__ul">
                    <li class="links__tag"><a href="">
                            <i class="fab fa-facebook-square"></i>
                            <span class="link__name">Facebook</span>
                        </a>
                    </li>
                    <li class="links__tag"><a href="">
                            <i class="fab fa-linkedin"></i>
                            <span class="link__name">Linkedin</span></a>
                    </li>
                    <li class="links__tag">
                        <a href="">

                            <i class="fab fa-github-square"></i>
                            <span class="link__name">Github</span></a></li>
                </ul>
            </div>

            <img src="images/project2.png" class="mobile2" alt="" />

            <div class="img__box inner_shadow desktop">
                <img src="images/hoise.png" class="outer_shadow" alt="" />

            </div>

        </div>

    </div>
</section>