<section class="main_header" id="home">
    <h1 class="bg1">WEB <br /> DEVELOPER</h1>
    <div class="changing__btns">

        <div class="cog__setting"><i class="fas fa-cog"></i></div>
        <div class="change__btn_group">

            <div class="chosen__div">
                <div class="for__theme1">
                    <div class="blueBtn">

                    </div>
                    <div class="greenBtn">

                    </div>
                    <div class="purpleBtn">

                    </div>
                </div>

                <div class="for__theme2">

                    <div class="whiteBtn"></div>
                    <div class="blackBtn"></div>
                </div>
            </div>

        </div>

    </div>
    <div class="main_row">

        {{! Main Header Left }}

        <div class="main_header_left">

            <div class="mainText">
                <h5 class="name">
                    AHSAN SHAKIL
                </h5>
                <h1 class="heading">
                    Full Stack
                    <br />
                    Web Developer

                </h1>
                <p class="para1">
                    High level experience in web design and development
                    knowledge,producing quality work,responsive design and also
                    focusing on user friendly.
                </p>

                <div class="contact__btn">
                    <a href="">
                        <span class="contact__heading">Contact</span>
                    </a><i class="fas fa-paper-plane"></i>
                </div>

                <a class="scroll__link mobile" href="#about"><div
                        class="scroll__down"
                    ><i class="fas fa-mouse"></i>
                        <span class="scroll__text">Scroll down</span><i
                            class="fas fa-arrow-down"
                        ></i></div></a>
            </div>

        </div>

        {{! Main Header Right }}

        <div class="main_header_right">

            <img src="images/project2.png" class="mobile2" alt="" />

            <div class="img__box outer_shadow desktop">
                <img src="images/hoise.png" class="" alt="" />

            </div>

        </div>

    </div>
</section>