<div class="contain yes no">

    <a href="#home" class="logo">
        <span class="circle__name">S</span>
        <span class="main__name"><span class="name__title">Ahsan Shakil</span>
            <span class="pro__name">Web Developer</span></span>
    </a>

    <nav class="navbar">
        <div class="expend__nav">
            <i class="fas fa-angle-right"></i>
        </div>
        <ul class="list">
            <li class="list-item active">
                <a href="#home">
                    <div class="icon"><i class="fas fa-home"></i><i
                            class="fas fa-home"
                        ></i></div>
                    <div class="name"><span data-text="Home">Home</span></div>
                </a>
            </li>

            <li class="list-item">
                <a href="#about">
                    <div class="icon"><i class="fas fa-user"></i><i
                            class="fas fa-user"
                        ></i></div>
                    <div class="name"><span data-text="About">About</span></div>
                </a>
            </li>

            <li class="list-item">
                <a href="#skill">
                    <div class="icon"><i class="fas fa-laptop-code"></i><i
                            class="fas fa-laptop-code"
                        ></i></div>
                    <div class="name"><span
                            data-text="Skills"
                        >Skills</span></div>
                </a>
            </li>

            <li class="list-item">
                <a href="#qualification">
                    <div class="icon"><i class="fas fa-graduation-cap"></i><i
                            class="fas fa-graduation-cap"
                        ></i></div>
                    <div class="name"><span
                            data-text="Education"
                        >Education</span></div>
                </a>
            </li>

            <li class="list-item">
                <a href="#project">
                    <div class="icon"><i class="fas fa-camera-retro"></i><i
                            class="fas fa-camera-retro"
                        ></i></div>
                    <div class="name"><span
                            data-text="Projects"
                        >Projects</span></div>
                </a>
            </li>

            <li class="list-item">
                <a href="#contact">
                    <div class="icon"><i class="far fas fa-envelope"></i><i
                            class="far fas fa-envelope"
                        ></i></div>
                    <div class="name"><span
                            data-text="Contact"
                        >Contact</span></div>
                </a>
            </li>
        </ul>
    </nav>

    <div class="toggle__bar">
        <i class="fas fa-bars"></i>
        <i class="fas fa-border-all"></i>
        <i class="fas fa-times"></i>
    </div>

</div>