<section class="project_header" id="project">

    <div class="width__max">
        <div class="skill__title">
            <h1 class="skill__heading">Projects</h1>
            <p class="skill_subhead">based on my experience</p>
        </div>

        <div class="skill_row mx-auto">

            {{! Main Header Left }}

            <div class="project_header_left">
                <div class="project__slider">
                    <div class="slider__cover">

                        <div class="slider__card topUp">

                            <h2 class="card_number">01</h2>
                            <h3 class="card_number_name">Project One</h3>
                            <div class="slider__head">Weather App</div>
                            <a
                                href="http://weather-webapp-by-ahsan.herokuapp.com/"
                                class="slider__btn"
                            >Click to view</a>
                        </div>

                        <div class="slider__card topUp">

                            <h2 class="card_number">02</h2>
                            <h3 class="card_number_name">Project Two</h3>
                            <div class="slider__head">Daily Routine</div>
                            <a
                                href="https://ahsan075.github.io/routine/"
                                class="slider__btn"
                            >Click to view</a>
                        </div>

                        <div class="slider__card topUp">

                            <h2 class="card_number">03</h2>
                            <h3 class="card_number_name">Project Three</h3>
                            <div class="slider__head">Todo List</div>
                            <a
                                href="https://ahsan075.github.io/ToDoList/"
                                class="slider__btn"
                            >Click to view</a>
                        </div>

                        <div class="slider__card topUp">

                            <h2 class="card_number">04</h2>
                            <h3 class="card_number_name">Project Four</h3>
                            <div class="slider__head">Match Game</div>
                            <a
                                href="https://ahsan075.github.io/Match__game/"
                                class="slider__btn"
                            >Click to view</a>
                        </div>

                        <div class="slider__card topUp">

                            <h2 class="card_number">05</h2>
                            <h3 class="card_number_name">Project Five</h3>
                            <div class="slider__head">Shopping Cart</div>
                            <a
                                href="https://ahsan075.github.io/Shopping__cart/"
                                class="slider__btn"
                            >Click to view </a>
                        </div>

                        <div class="slider__card topUp">

                            <h2 class="card_number">06</h2>
                            <h3 class="card_number_name">Project Six</h3>
                            <div class="slider__head">Budget Calculator</div>
                            <a
                                href="https://ahsan075.github.io/budget__calculator/"
                                class="slider__btn"
                            >Click to view</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>