<section class="project_header" id="project">

    <div class="width__max">
        <div class="skill__title">
            <h1 class="about__heading">Projects</h1>
            <p class="about_subhead">based on my experience</p>
        </div>

        <div class="skill_row mx-auto">

            {{! Main Header Left }}

            <div class="project_header_left">
                <div class="project__slider">
                    <div class="slider__cover">

                        <div class="slider__card">
                            <div class="slider__img"><img
                                    src="images/6.png"
                                    alt=""
                                /></div>
                            <div class="slider__head">Weather App</div>
                            <a
                                href="http://weather-webapp-by-ahsan.herokuapp.com/"
                                class="slider__btn"
                            >Click to view this project</a>
                        </div>

                        <div class="slider__card">
                            <div class="slider__img"><img
                                    src="images/1.png"
                                    alt=""
                                /></div>
                            <div class="slider__head">Daily Routine</div>
                            <a
                                href="https://ahsan075.github.io/routine/"
                                class="slider__btn"
                            >Click to view this project</a>
                        </div>

                        <div class="slider__card">
                            <div class="slider__img"><img
                                    src="images/2.png"
                                    alt=""
                                /></div>
                            <div class="slider__head">Todo List</div>
                            <a
                                href="https://ahsan075.github.io/ToDoList/"
                                class="slider__btn"
                            >Click to view this project</a>
                        </div>

                        <div class="slider__card">
                            <div class="slider__img"><img
                                    src="images/3.png"
                                    alt=""
                                /></div>
                            <div class="slider__head">Match Game</div>
                            <a
                                href="https://ahsan075.github.io/Match__game/"
                                class="slider__btn"
                            >Click to view this project</a>
                        </div>

                        <div class="slider__card">
                            <div class="slider__img"><img
                                    src="images/4.png"
                                    alt=""
                                /></div>
                            <div class="slider__head">Shopping Cart</div>
                            <a
                                href="https://ahsan075.github.io/Shopping__cart/"
                                class="slider__btn"
                            >Click to view this project</a>
                        </div>

                        <div class="slider__card">
                            <div class="slider__img"><img
                                    src="images/5.png"
                                    alt=""
                                /></div>
                            <div class="slider__head">Budget Calculator</div>
                            <a
                                href="https://ahsan075.github.io/budget__calculator/"
                                class="slider__btn"
                            >Click to view this project</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>