.about_header {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 2rem 0;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--about-bg);
    border-radius: 10rem;
}

.about_row {
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    height: 85%;
    width: 100%;
    align-items: center;
}
.about__title {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8rem;
}

.about__heading {
    font-family: var(--second-font);
    letter-spacing: 0.3rem;
    font-size: 5rem;
    font-weight: 900;
    color: var(--about-color);
}
.about_subhead {
    text-align: center;
    font-size: 1.3rem;
    font-family: var(--second-font);
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    color: var(--about-sub-color);
}

.hover-in-shadow {
    position: relative;
    box-shadow: var(--button-shadow);
    border-radius: 4rem;
    color: var(--fd-color);
}

.hover_active.hover-in-shadow {
    box-shadow: var(--button-active);
    color: #5a84a2;
}

.in-shadow {
    box-shadow: var(--button-active);
    border-radius: 4rem;
    padding: 1rem 3rem;
}

.hover_active.hover-in-shadowspan {
    transform: scale(0.95);
}

.about_header_left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    position: relative;
}

.about_header_right {
    position: relative;
    height: 100%;
    width: 60%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main__about__head {
    font-size: 1.5rem;
    color: var(--text-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--first-font);
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}
.black .main__about__head {
    color: #184d68;
}
.right_heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3.5rem;
    padding: 1rem;
    font-family: var(--second-font);
    font-weight: 700;
    color: var(--fd-color);
    letter-spacing: 0.1rem;
    width: 100%;
}

.about__info__para {
    width: 80%;
    font-size: 2rem;
    font-family: var(--third-font);
    color: var(--fd-color);
    padding: 2rem 0.5rem;
    margin-top: 4rem;
    letter-spacing: 0.1rem;
    line-height: 3.5rem;
    font-weight: 600;
}

.details__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 1rem;
    margin-top: 3rem;
    width: 55%;
}
.projects {
    width: 100%;
}
.projects {
    margin-top: 6rem;
}
.projects a {
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    font-family: var(--second-font);
    font-weight: 700;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
}
.white .projects a {
    color: var(--text-color);
    box-shadow: var(--button-shadow);
}
.white .projects a:hover {
    box-shadow: var(--button-active);
}

.black .projects a {
    background-color: #184d68;
    color: #fff;
}

/* Social Links */
.social__links {
    width: 25rem;
}
.social__ul {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.links__tag {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
.white .links__tag {
    background-color: #1e1e1e;
}
.white .links__tag:hover {
    background: radial-gradient(circle, #fff, #1e1e1e);
}
.white .links__tag:hover i {
    color: #1e1e1e;
}

.black .links__tag {
    background-color: #184d68;
}

.links__tag a {
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    position: relative;
}

.links__tag a i {
    font-size: 2.5rem;
    color: var(--about-bg);
}

.details__card {
    width: 25rem;
    height: 20rem;
    margin-bottom: 4rem;
    display: flex;
    padding: 1rem 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
}
.white .details__card {
    background-color: #fff;
}
.black .details__card {
    background-color: #184d68;
}
.details__card:last-child {
    margin-bottom: 0;
}

.detail__icon {
    font-size: 4rem;
}

.white .detail__icon {
    color: rgb(66, 65, 65);
}
.black .detail__icon {
    color: var(--about-bg);
}
.details__number {
    font-size: 3rem;
    background-color: var(--about-bg);
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: var(--second-font);
    font-weight: 700;
}
.black .details__number {
    color: #184d68;
}
.details__title {
    font-size: 1.5rem;
    font-family: var(--second-font);
    font-weight: 600;
}
.white .details__title {
}
.black .details__title {
    color: #fff;
}

@media only screen and (min-width: 992px) {
    .about_header {
        padding: 0 10rem;
    }
}

@media only screen and (max-width: 768px) {
    .about_row {
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }
    .about_header_left {
        width: 100%;
        height: fit-content;
        align-items: center;
    }

    .about_header_right {
        width: 100%;
        height: fit-content;
        margin-top: 4rem;
        align-items: center;
    }

    .details__about_me {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .details__card {
        margin: 1rem;
    }
    .right_heading {
        justify-content: center;
        text-align: center;
    }
    .details__buttons {
        align-items: center;
    }
    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about__info__para {
        text-align: center;
    }
}

@media only screen and (max-width: 576px) {
    .about__heading {
        letter-spacing: 0.2rem;
        font-size: 3rem;
        font-weight: 900;
    }
    .about_subhead {
        font-size: 1.2rem;
    }
    .right_heading {
        font-size: 3rem;
    }

    .about__info__para {
        font-size: 1.8rem;
        line-height: 3rem;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .details__card {
        width: 65%;
        height: 25rem;
    }
}

@media only screen and (max-width: 376px) {
    .details__card {
        width: 80%;
    }
}
