.education_header {
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 10rem;
    padding: 5rem 5rem;
    background-color: var(--about-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.normal .education_header {
    border-radius: 0;
    background-color: #f9f9ff;
    box-shadow: none;
}

/* White Section  End*/

/* Black Section */

.black .skill_row {
}
.education_header_left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 2rem;
    position: relative;
}

.education__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45rem;
    height: 25rem;
    margin: 2rem;
    align-items: flex-start;
    position: relative;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}
.black .education__card {
    background-color: #333333;
}
.white .education__card {
    box-shadow: var(--button-shadow);
}
.normal .education__card {
    background-color: var(--normal-edu-card);
}

.education__year {
    font-size: 1.6rem;
    padding: 1rem;
    font-family: var(--first-font);
}
.black .education__year {
    color: #fff;
}
.white .education__year {
    color: var(--text-color);
}
.normal .education__year {
    color: #fff;
}
.education__year i {
    margin-right: 1rem;
}

.education__header,
.edu_body {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    line-height: 3rem;
    padding: 1rem;
    letter-spacing: 0.2rem;
}
.normal .education__header,
.normal .edu_body,
.black .education__header,
.black .edu_body {
    color: #fff;
}
.white .education__header,
.white .edu_body {
    color: var(--text-color);
}
.education__header {
    font-family: var(--second-font);
    font-size: 2.5rem;
    font-weight: 700;
}

.edu_body {
    font-family: var(--first-font);
    font-weight: 500;
    font-size: 1.8rem;
}

@media only screen and (max-width: 768px) {
    .black .education__card {
        /* width: 55rem; */
    }
}

@media only screen and (max-width: 576px) {
    .education__card {
        width: 45rem;
    }
}
@media only screen and (max-width: 460px) {
    .education__card {
        width: 35rem;
        height: 25rem;
    }
}
@media only screen and (max-width: 376px) {
    .education__card {
        width: 100%;
    }
    .education_header_left {
        padding: 0;
        width: 100%;
    }
    .education__year {
        font-size: 1.3rem;
    }
    .education__header {
        font-size: 2.2rem;
    }

    .edu_body {
        font-size: 1.5rem;
    }
}

/* Black Section  End*/
