/* ========== SECTION 1 ========== */

.main_header {
    /* background: var(--new-bg); */
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 0.5s ease-in-out;
    overflow-x: hidden;
}

.normal .main_header {
    background-color: #f9f9ff;
}
.changing__btns {
    position: absolute;
    top: 15%;
    /* right: 2rem; */
    right: -16rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.white .change__btn_group,
.black .change__btn_group {
    box-shadow: var(--outer-shadow);
}
.newright {
    right: 2rem;
}
.change__btn_group {
    /* box-shadow: var(--outer-shadow); */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 9rem;
    width: 15rem;
    border-radius: 1rem;
    position: relative;
}
.normal .change__btn_group {
    /* border: 2px solid var(--normal-common-color); */
    background-color: transparent;
}

.theme__div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.theme1,
.theme2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 4rem;
    background-color: var(--normal-inactive);
    margin-top: 0.5rem;
}
.white .theme1,
.white .theme2 {
    background-color: #eff0f4;
}
.black .theme1,
.black .theme2 {
    background-color: #0f141e;
}

.theme1 {
    border-top-left-radius: 1rem;
}
.theme2 {
    border-top-right-radius: 1rem;
}
.action.theme1,
.action.theme2 {
    background-color: var(--normal-common-color);
}
.white .action.theme1,
.white .action.theme2 {
    box-shadow: var(--inner-shadow);
    background-color: #eff0f4;
}

.black .action.theme1,
.black .action.theme2 {
    box-shadow: var(--inner-shadow);
    background-color: #0f141e;
}
.theme__name {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--normal-common-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: var(--third-font);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}
.white .theme__name,
.white .action .theme__name {
    background-color: #eff0f4;
    box-shadow: var(--outer-shadow);
    color: #0f141e;
}

.black .theme__name,
.black .action .theme__name {
    background-color: #0f141e;
    box-shadow: var(--outer-shadow);
    color: #eff0f4;
}

.action .theme__name {
    background-color: #fff;
    color: var(--normal-common-color);
}
.chosen__div {
    width: 100%;
    display: flex;
    height: 4rem;
    justify-content: space-around;
    align-items: center;
    background-color: var(--normal-common-color);
    margin-bottom: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.white .chosen__div {
    background-color: #eff0f4;
    box-shadow: var(--inner-shadow);
}
.black .chosen__div {
    background-color: #0f141e;
    box-shadow: var(--inner-shadow);
}

.for__theme1,
.for__theme2 {
    width: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
}
.action.for__theme1,
.action.for__theme2 {
    display: flex;
}
.purpleBtn,
.greenBtn,
.blueBtn,
.blackBtn,
.whiteBtn,
.cog__setting {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whiteBtn {
    background-color: #fff;
}
.blackBtn {
    background-color: #0f141e;
}
.purpleBtn {
    background-color: #6b59d1;
    border: 0.3rem groove #f2f3f7;
}
.greenBtn {
    background-color: #13ae87;
    background-color: #13ae8779;

    border: 0.3rem groove #f2f3f7;
}
.blueBtn {
    background-color: #1254b2;

    border: 0.3rem groove #f2f3f7;
}
.white .blackBtn,
.white .whiteBtn,
.white .cog__setting {
    color: var(--list-color);
}
.black .blackBtn,
.black .whiteBtn,
.black .cog__setting {
    color: #fff;
}

.cog__setting {
    margin-right: 4rem;
    font-size: 2.5rem;
}

.white .change__btn__active.blackBtn,
.white .change__btn__active.whiteBtn {
    box-shadow: var(--inner-shadow);
    color: #b3cc8d;
}
.black .change__btn__active.blackBtn,
.black .change__btn__active.whiteBtn {
    box-shadow: var(--inner-shadow);
    color: #184d68;
}

.cog__setting i {
    animation: cogRotate 1.5s linear infinite;
}

@keyframes cogRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: flex-end;
    position: relative;
}

.main_header_left {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    /* margin-left: -100%; */
    padding: 0 2rem;
    position: relative;
}
.desktop {
    display: none;
}
.contact__btn {
    margin-top: 3rem;
}

.contact__btn a {
    text-decoration: none;
    background-color: var(--text-color);
    color: var(--home-anchr-color);
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}
.normal .contact__btn a {
    background-color: var(--normal-common-color);
    padding: 1.5rem 1.25rem;
    border-radius: 0.75rem;
}

.contact__btn a:hover {
    margin-right: 2rem;
    border: 2px solid var(--home-anchr-hover-color);
    background-color: transparent;
    color: var(--home-anchr-hover-color);
}
.normal .contact__btn a:hover {
    border: 2px solid var(--normal-second-color);
    color: var(--normal-second-color);
}
.contact__heading {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
}

.fa-paper-plane {
    margin-left: 1rem;
    font-size: 2rem;
    color: var(--text-color);
}
.normal .fa-paper-plane {
    color: var(--normal-common-color);
}

.main_header_right {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    max-width: 90rem;
    padding: 0 2rem;
    position: relative;
    /* margin-right: -100%; */
}

.main_header_right img {
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3));
    max-width: 100%;
    max-height: 100%;
    transform: translate3d(0, 0, 0);
}

/* ====== HEADING TAG 1 ====== */

.bg1 {
    position: absolute;
    font-size: 20rem;
    font-weight: 700;
    top: 4rem;
    text-align: center;
    color: var(--bg-color);
    left: 50%;
    transform: translateX(-50%);
    text-shadow: var(--outer-shadow);
    font-family: "Azeret Mono", monospace;
    z-index: -1;
    pointer-events: none;
    opacity: 0.6;
}
.normal .bg1 {
    color: #f9f9ff;
    text-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.1);
    z-index: 0;
    pointer-events: none;
}

/* ====== HEADING TAG 2 ====== */

/* ====== IMAGE TAG ====== */

/* ====== DIV TAG ====== */

.mainText {
    position: relative;
    margin-bottom: 15rem;
    transition: 0.3s;
}

.scroll__link {
    text-decoration: none;
    color: var(--text-color);
}
.normal .scroll__link {
    color: var(--normal-second-color);
}

.scroll__down {
    position: absolute;
    padding: 2rem 3rem;
    text-align: center;
    font-size: 2rem;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    bottom: -35%;
    cursor: pointer;
    transition: 0.1s ease;
}
.normal .scroll__down {
    font-size: 1.3rem;
}
.scroll__text {
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 600;
    width: fit-content;
    font-family: "Azeret Mono", monospace;
}
.normal .scroll__text {
    font-weight: 500;
}

.fa-arrow-down {
    font-size: 1.3rem;
}

.fa-mouse {
    font-size: 2.5rem;
}
.normal .fa-mouse {
    font-size: 1.8rem;
}

.scroll__down:hover {
    bottom: -37%;
}

/* === HEADING 1 === */

.name {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    color: var(--common-color);
    margin-bottom: 2rem;
    font-family: "Azeret Mono", monospace;
}

/* === HEADING 2 === */

.heading {
    font-size: 5.5rem;
    line-height: 6rem;
    letter-spacing: 0.2rem;
    font-family: sans-serif;
    font-weight: 800;
    margin-bottom: 3rem;
    font-family: "Fira Sans", sans-serif;
    color: var(--text-color);
}

/* === PARAGRAPH === */

.para1 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: var(--common-color);
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-family: "Azeret Mono", monospace;
}

/*=== Responsive Design ===*/

@media only screen and (max-width: 2100px) {
    .tags {
        max-width: 50%;
    }
}
@media only screen and (max-width: 1550px) {
    .tags {
        max-width: 60%;
    }
    .bg1 {
        font-size: 18rem;
        top: 8rem;
    }
}

@media only screen and (min-width: 992px) {
    .main_header {
        padding: 0 8rem;
    }
}

@media only screen and (max-width: 991px) {
    html {
        font-size: 52%;
    }

    .main_row {
        padding-bottom: 5rem;
    }
    .main_header_left {
        width: 50%;
    }

    .mobile2 {
        display: none;
    }

    .img__box {
        max-width: 45rem;
        max-height: 45rem;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        padding: 2rem;
    }
    .normal .img__box {
        background-color: var(--normal-detail-card);
        box-shadow: none;
        border-radius: 5rem;
    }

    .main_header_right .img__box img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .normal .main_header_right .img__box img {
        border-radius: 10rem;
        background-color: #f2f3f7;
    }

    .main_header_right {
        width: 50%;
    }
    .bg1 {
        font-size: 14rem;
        top: 12rem;
    }
    .scroll__down {
        width: fit-content;
    }
}

@media only screen and (max-width: 768px) {
    .normal .changing__btns {
        top: 5%;
    }
    .normal .main_header {
        padding-bottom: 5rem;
    }
    html {
        font-size: 48%;
    }

    .main_header {
        align-items: center;
    }

    .bg1 {
        font-size: 11rem;
        top: 15rem;
    }
}

@media only screen and (max-width: 576px) {
    html {
        font-size: 45%;
    }

    .bg1 {
        display: none;
    }
    .main_header {
        padding-bottom: 0;
    }
    .main_row {
        flex-direction: column-reverse;
        padding-top: 14vh;
    }

    .main_header_left {
        width: 100%;
        height: fit-content;
        margin-top: 2rem;
        padding-top: 1rem;
    }

    .main_header_right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scroll__down {
        bottom: -45%;
    }
    .scroll__down:hover {
        bottom: -45%;
    }

    .main_header_right img {
        height: 50%;
        width: 50%;
    }
    .heading {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 376px) {
    html {
        font-size: 40%;
    }
}

@media only screen and (max-width: 430px) {
    .img__box {
        max-width: 40rem;
        max-height: 40rem;
    }
}

@media only screen and (max-width: 346px) {
}
