.project_header {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 5rem 5rem;
    display: flex;
    background-color: var(-bg-color);
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    position: relative;
}
.normal .project_header {
    background-color: #fff;
}

.project_header_left {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    position: relative;
}

.slider__cover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

/* Blcak */

.slider__card {
    width: 27rem;
    height: 30rem;
    display: flex;
    padding: 2rem 2rem;
    margin: 2rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
}

.black .slider__card {
    box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.5rem);
}
.normal .slider__card {
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.15),
        -0.1rem -0.1rem 0.3rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
}
.white .slider__card {
    box-shadow: var(--button-shadow);
}
.white .topUp.slider__card:hover {
    box-shadow: var(--button-active);
}

.card_number {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 14rem;
    font-family: var(--second-font);
    font-weight: 700;
    pointer-events: none;
}
.black .card_number {
    color: rgba(255, 255, 255, 0.05);
}
.normal .card_number {
    color: rgba(0, 0, 0, 0.075);
}
.white .card_number {
    text-shadow: var(--outer-shadow);
    color: var(--bg-color);
}

.card_number_name {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    z-index: 1;
    font-family: var(--second-font);
    font-weight: 900;
    pointer-events: none;
}

.black .card_number_name {
    color: #fff;
}
.white .card_number_name {
    color: var(--text-color);
}
.normal .card_number_name {
    color: var(--normal-second-color);
}
.slider__head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: var(--third-font);
    font-weight: 900;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    pointer-events: none;
}
.black .slider__head {
    color: #fff;
}
.white .slider__head {
    color: var(--text-color);
}
.slider__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-family: var(--second-font);
    font-weight: 500;
}
.black .slider__btn {
    color: #000;
    background: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(131, 21, 21, 0.2);
}
.normal .slider__btn {
    color: #fff;
    background: var(--normal-common-color);
}
.white .slider__btn {
    color: var(--text-color);
    box-shadow: var(--button-shadow);
    font-weight: 900;
}
.white .topUp .slider__btn:hover {
    box-shadow: var(--button-active);
}

.black .topUp .card_number,
.black .topUp .card_number_name,
.black .topUp .slider__head,
.black .topUp .slider__btn,
.white .topUp .card_number,
.white .topUp .card_number_name,
.white .topUp .slider__head,
.white .topUp .slider__btn,
.normal .topUp .card_number,
.normal .topUp .card_number_name,
.normal .topUp .slider__head,
.normal .topUp .slider__btn {
    transform: translateY(6rem);
    transition: 0.3s ease-in-out;
}
.black .topUp .card_number_name,
.black .topUp .slider__head,
.black .topUp .slider__btn,
.white .topUp .card_number_name,
.white .topUp .slider__head,
.white .topUp .slider__btn,
.normal .topUp .card_number_name,
.normal .topUp .slider__head,
.normal .topUp .slider__btn {
    opacity: 0;
}

.black .topUp.slider__card:hover .card_number,
.black .topUp.slider__card:hover .card_number_name,
.black .topUp.slider__card:hover .slider__head,
.black .topUp.slider__card:hover .slider__btn,
.white .topUp.slider__card:hover .card_number,
.white .topUp.slider__card:hover .card_number_name,
.white .topUp.slider__card:hover .slider__head,
.white .topUp.slider__card:hover .slider__btn,
.normal .topUp.slider__card:hover .card_number,
.normal .topUp.slider__card:hover .card_number_name,
.normal .topUp.slider__card:hover .slider__head,
.normal .topUp.slider__card:hover .slider__btn {
    transform: translateY(0);
    opacity: 1;
}
